.center {
  display: flex;
  align-items: center;
}

.admin-order-title {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}

.admin-order-section0 {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
}

.admin-order-section1 {
  width: 100%;
  height: 20%;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 11px;
}

.search-icon {
  margin-right: 5px;
}

.admin-order-section2 {
  width: 100%;
  height: 3%;
}

.admin-order-section3 {
  width: 100%;
  height: 3%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.admin-order-section4 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
}

.admin-order-section5 {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

.admin-order-section6 {
  width: 100%;
  height: 100%;
}

/* popup 용 */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

/* 날짜 검색용 */
.list-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-container li {
  padding: 5px 0;
}

/* 스크롤 바 */
.scrollable-list {
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
}
.scrollable-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.scrollable-list li {
  padding: 5px 0;
}

.c-f {
  color: #2e55f1 !important;
  font-weight: 600;
}

.c-btn {
  line-height: 18px;
  font-size: 14px;
  height: 29px;
  width: 100px;
}
.admin-order-section5 h3 {
  font-size: 26px;
  font-weight: 600;
}
