/* 스크롤 용 */
.scrollable-list {
  height: 650px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
.scrollable-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.scrollable-list li {
  padding: 5px 0;
}

/* 검색 용 */
.search-container {
  display: flex;
  justify-content: flex-end;
}

.me {
  margin-right: 100px;
}

.search-row {
  display: flex;
  margin-bottom: 10px;
}

.popup {
  display: none;
  position: absolute;
}
.popup h2 {
  font-size: 22px;
  font-weight: 700;
  color: #2e55f1;
  margin-bottom: 20px;
}
.lili {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #2e55f1;
  height: 50px;
  line-height: 38px;
  color: #2e55f1;
  font-weight: 700;
}
