@charset "UTF-8";

.main-container {
  width: 1350px;
  height: 100%;
  margin: 0 auto;
  margin-top: 90px;
}

.best-products {
  height: 60%;
  margin-bottom: 80px;
}

.best-products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.best-products__title-wrap {
  text-align: center;
  width: 20%;
  height: 50%;
}

.best-products__title-wrap span {
  font-size: 18px;
  font-weight: 600;
}

.best-products__title-wrap h1 {
  margin-top: 8px;
  font-weight: bold;
  letter-spacing: -5px;
}

.best-products__title-wrap h2 {
  margin-top: 8px;
  font-weight: 600;
  letter-spacing: -2px;
}

.best-products__5 {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-product-item {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.best-product-item:hover {
  background-color: rgba(228, 228, 228, 0.5);
}

.best-product-item__image {
  background-image: url('/images/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 70%;
}

.best-product-item__content {
  width: 100%;
  height: 30%;
}

.best-product-item-title {
  height: 40%;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-product-item-prices {
  width: 70%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: rgb(116, 116, 116);
}

.best-product-item-price {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-title {
  width: 40%;
  text-align: left;
}

.rental-price {
  color: #0155ff;
  font-weight: 600;
}

.line {
  height: 0.7px;
  background-color: darkgray;
}

.total-products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}

.total-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}

.product-item {
  width: 22%;
  height: 500px;
  margin-bottom: 100px;
}

.product-item:hover {
  background-color: rgba(228, 228, 228, 0.5);
}

.product-item__image {
  background-image: url('/images/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65%;
}

.product-item__content {
  height: 35%;
}

.product-item-title {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.product-item-title__code {
  color: darkgray;
  font-weight: 600;
}

.product-item-title__name {
  font-size: 18px;
  font-weight: 600;
}

.product-item-prices {
  height: 60%;
}

.btn-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  right: 15px;
  bottom: 20px;
}

.btn-anchor span {
  font-size: 30px;
}

.btn-anchor:hover {
  background-color: rgba(228, 228, 228, 0.5);
}
