<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.krms4u.api.domain.user.mapper.UserMapper">
	<select id="findByUsername" resultType="com.krms4u.api.domain.user.vo.UserVO">
		select * from member where email = #{email}
	</select>


	<insert id="joinMember" parameterType="UserVO">
		insert into member(member_id,roles,name,email,password,created_at,updated_at)
		values(seq_member.nextval,#{roles},#{name},#{email},#{password},sysdate,sysdate)
	</insert>
</mapper>


<!--		insert into member (member_id,roles,name,email,password,created_at,updated_at)-->
<!--		values (seq_member.nextval,'ROLE_USER','김호식','sdkfjek@naver.com','1234',sysdate,sysdate);-->
